* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 500px;
    height: 500px;

}

#tangram {
    position: relative;
    height: 100%;
    width: 100%;
   

}

#figure1,
#figure2,
#figure3,
#figure4,
#figure5,
#figure6,
#figure7 {
    position: absolute;
    display: inline-block;

}

/* Big triangle, light green */
#figure1 {
    top: 0;
    left: 0;
   

}


/* Parallelogram, violet */
#figure2 {
    top: 0px;
    RIGHT: 62.5px;
    transform: skew(-45deg);

}

/* Square, red */
#figure3 {
    top: 161.5px;
    left: 36.5px;
    transform: rotate(45deg);

}

/* Triangle, orange */
#figure4 {

    top: 125px;
    left: 125px;
 

}

/* Big triangle, yellow */
#figure5 {
    right: 0;
    top: 0px;
 
}

/* Triangle, blue */
#figure6 {
    bottom: 0;
    left: 0;

}

/*Big triangle, darkish green */
#figure7 {

    bottom: 0;
    left: 0;
   
}
