* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}



#figure1 {
    display: inline-block;
    height: 0;
    width: 0;
    border-top: 200px solid #99cc33;
    border-right: 200px solid transparent;
    position: absolute;

}


#figure2 {

    width: 200px;
    height: 100px;
    background-color: #6666cc;
    display: inline-block;
    transform: skewX(-45deg);
    position: absolute;


}



#figure3 {

    width: 150px;
    height: 150px;
    background-color: #ff6666;
    display: inline-block;
    position: absolute;



}


#figure4 {

    display: inline-block;
    height: 0;
    width: 0;
    border-top: 150px solid #ff9933;
    border-right: 150px solid transparent;
    position: absolute;





}

#figure5 {

    display: inline-block;
    height: 0;
    width: 0;
    border-top: 300px solid #ffcc00;
    border-right: 300px solid transparent;
    position: absolute;





}

#figure6 {


    display: inline-block;
    height: 0;
    width: 0;
    border-top: 150px solid #3399ff;
    border-right: 150px solid transparent;
    position: absolute;




}




#figure7 {


    display: inline-block;
    height: 0;
    width: 0;
    border-top: 300px solid #33cc65;
    border-right: 300px solid transparent;
    position: absolute;





}